.left {
    float: left;
}

.right {
    width: 360px;
    height: 100%;
}

.wrapper1 {
    position: relative;
    height: 400px;
}

#queueCanvas {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
}

.scoreContainer {
    text-align: center;
}

#scoreInput {
    width: 100px;
    text-align: center; 
}